{% extends 'base.html' %}
{% block contents %}
  <h5 class="my-3 border-bottom pb-2">질문 수정</h5>
  <!-- views.py 의 is_valid() 통과 못할 때-->
  {% include 'errors.html' %}
  <form method="post" class="my-3">
    {% csrf_token %}
    <div class="form-group mb-3">
      <label for="subject">제목</label>
      <input type="text" name="subject" id="subject" class="form-control" value="{{form.subject.value|default_if_none:''}}">
    </div>
    <div class="form-group mb-3">
      <label for="content">내용</label>
      <textarea name="content" id="content" rows="10" class="form-control">{{form.content.value|default_if_none:''}}</textarea>
    </div>
    <input type="submit" value="질문수정" class="btn btn-success">
  </form>
{% endblock contents %}

{{form.as_p}}