{% extends 'base.html' %}
{% block contents %}
  <div class="my-3">
    <table class="table">
      <thead>
        <tr class="table-success">
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col">작성일시</th>
        </tr>
      </thead>
      <tbody>
        {% if question_list %}
          {% for question in question_list %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>
                <a href="{% url 'board:detail' question.id %}" class="text-decoration-none text-dark">{{question.subject}}</a>
              </td>
              <td>{{question.created_at}}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="3">질문이 없습니다.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
    <!-- 페이징 처리-->

    <div>
      <a href="{% url 'board:question_create' %}" class="btn btn-primary">질문등록</a>
    </div>
  </div>
{% endblock contents %}