{% extends 'base.html' %} {% block title %}
<title>목록</title>
{% endblock title %} {% block style %}
<style>
  .photo div:nth-child(2) img {
    width: 300px;
  }
</style>
{% endblock style %} {% block contents %}
<div class="row pd-3">
  <div class="col">
    <h1>Photo List</h1>
  </div>
  <div class="col text-center">
    <!-- <h3><a href="/photo/new">New Photo</a></h3> -->
    <h3><a href="{% url 'photo_post' %}">New Photo</a></h3>
  </div>
</div>
{% if photos %} {% for photo in photos %}
<div class="row photo">
  <div class="col">
    <!-- <h2><a href="/photo/{{photo.id}}">{{photo.title}}</a></h2> -->
    <h2>
      <a href="{% url 'photo_detail' id=photo.id %}">{{photo.title}}</a>
    </h2>
  </div>
  <div class="col">
    <img src="{{photo.image}}" alt="{{photo.title}}" />
  </div>
  <div class=""><p>{{photo.author}},{{photo.price}} 원</p></div>
</div>
{% endfor %} {% else %}
<div class="row">
  <div class="col">사진이 없습니다.</div>
</div>
{% endif %} {% endblock contents %}
