{% extends 'base.html' %} {% block title %}
<title>사진 추가</title>
{% endblock title %} {% block contents %}
<div class="row pd-3">
  <div class="col">
    <a href="{% url 'photo_list' %}" class="btn btn-info">List Photo</a>
  </div>
</div>
<div class="row pt-4">
  <h2>New Photo</h2>
</div>
<!-- 사진 등록 폼 -->
<div class="row pt-4">
  <div class="col-8 mx-auto">
    {% if form.errors %}
    <div class="alert alert-danger">
      {% for field in form %} {% if field.errors %}
      <strong>{{field.label}}</strong>
      {{field.errors}} {% endif %} {% endfor %}
    </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="title" class="form-label">title</label>
        <input type="text" class="form-control" id="title" name="title" />
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">author</label>
        <input type="text" class="form-control" id="author" name="author" />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">image</label>
        <input type="text" class="form-control" id="image" name="image" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          row="10"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">price</label>
        <input type="text" class="form-control" id="price" name="price" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock contents %}
