{% extends 'base.html' %}
{% block contents %}
  <div class="row my-3">
    <div class="col-4">
      <h3>비밀번호 변경</h3>
    </div>
    <div class="col-8">
      <span>또는
        <a href="{% url 'users:register' %}">회원가입 하세요</a>
      </span>
    </div>
  </div>
  <form action="" method="post">
    {% include 'errors.html' %}
    {% csrf_token %}
    <div class="form-group mb-3">
      <label for="old_password">기존 비밀번호</label>
      <input type="password" class="form-control" name="old_password" id="old_password" value="{{form.old_password.value|default_if_none:''}}">
    </div>
    <div class="form-group mb-3">
      <label for="new_password1">새 비밀번호</label>
      <input type="password" class="form-control" name="new_password1" id="new_password1" value="{{form.new_password1.value|default_if_none:''}}">
    </div>
    <div class="form-group mb-3">
      <label for="new_password2">새 비밀번호(확인)</label>
      <input type="password" class="form-control" name="new_password2" id="new_password2" value="{{form.new_password2.value|default_if_none:''}}">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">비밀번호 변경</button>
    </div>
  </form>
{% endblock contents %}